/* coreのimport */
/* @import url("https://firesepichub-14.github.io/stylesheets/css/custom_button_core.css"); */

/* 影絵ドットボタン */
a.shadow-dot {
    border: 2px solid #000;
    border-top: 1px solid #000;
    border-radius: 0 0 .5rem .5rem;
    background-color: #fff;
    background-image: -webkit-radial-gradient(#000 15%, transparent 20%),
    -webkit-radial-gradient(#000 15%, transparent 20%);
    background-image: radial-gradient(#000 15%, transparent 20%),
    radial-gradient(#000 15%, transparent 20%);
    background-position: 0 0, 3px 3px;
    background-size: 6px 6px;
  }

/* 影絵ドットボタン - sc */
a.shadow-dot-sc {
  border: 2px solid #000;
  border-top: 1px solid #000;
  border-radius: 0 0 .5rem .5rem;
  background-color: #fff;
  background-image: -webkit-radial-gradient(#000 15%, transparent 20%),
  -webkit-radial-gradient(#000 15%, transparent 20%);
  background-image: radial-gradient(#000 15%, transparent 20%),
  radial-gradient(#000 15%, transparent 20%);
  background-position: 0 0, 3px 3px;
  background-size: 6px 6px;
}

/*陰影ストライプにしたボタンとの差分*/
a.shading-stripes {
  border: 2px solid #000;
  border-top: 1px solid #000;
  border-radius: 0 0 .5rem .5rem;
  background: -webkit-repeating-linear-gradient(left, #000, #000 1px,
    transparent 2px, transparent 6px);
  background: repeating-linear-gradient(to right, #000, #000 1px,
    transparent 2px, transparent 6px);
  background-size: 12px 12px;
}

/*陰影ストライプにしたボタンとの差分*/
a.shading-stripes-sc {
  border: 2px solid #000;
  border-top: 1px solid #000;
  border-radius: 0 0 .5rem .5rem;
  background: -webkit-repeating-linear-gradient(left, #000, #000 1px,
    transparent 2px, transparent 6px);
  background: repeating-linear-gradient(to right, #000, #000 1px,
    transparent 2px, transparent 6px);
  background-size: 12px 12px;
}
