/* coreのimport */
/* @import url("https://firesepichub-14.github.io/stylesheets/css/custom_button_core.css"); */

/* シンプルなボタン */
.simple-btn {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0px 7px #1a7940;
}

/* フラットボタン */
a.btn-flat {
  overflow: hidden;
  padding: 1.5rem 6rem;
  color: #fff;
  border-radius: 0;
  background: #000;
}

a.btn-flat span {
  position: relative;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: 30px;
  width: 150%;
  height: 500%;
  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-70%) rotate(135deg);
  transform: translateX(-98%) translateY(-70%) rotate(135deg);
  background: #fff100;
  -moz-transform: translateX(-98%) translateY(-70%) rotate(135deg);
  -ms-transform: translateX(-98%) translateY(-70%) rotate(135deg);
  -o-transform: translateX(-98%) translateY(-70%) rotate(135deg);
}

a.btn-flat:hover:before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(135deg);
  transform: translateX(-9%) translateY(-25%) rotate(135deg);
}

/* sc */
a.btn-flat-sc {
  overflow: hidden;
  padding: 1.5rem 6rem;
  color: #fff;
  border-radius: 0;
  background: #000;
}

a.btn-flat-sc span {
  position: relative;
}

a.btn-flat-sc:before {
  position: absolute;
  top: 0;
  left: 30px;
  width: 150%;
  height: 500%;
  content: '';
  -webkit-transition:;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-70%) rotate(135deg);
  transform: translateX(-98%) translateY(-70%) rotate(135deg);
  background: #fff100;
  -moz-transform: translateX(-98%) translateY(-70%) rotate(135deg);
  -ms-transform: translateX(-98%) translateY(-70%) rotate(135deg);
  -o-transform: translateX(-98%) translateY(-70%) rotate(135deg);
}

a.btn-flat-sc:hover:before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(135deg);
  transform: translateX(-9%) translateY(-25%) rotate(135deg);
}




/* 影絵ドットボタン */
a.shadow-dot {
    border: 2px solid #000;
    border-top: 1px solid #000;
    border-radius: 0 0 .5rem .5rem;
    background-color: #fff;
    background-image: -webkit-radial-gradient(#000 15%, transparent 20%),
    -webkit-radial-gradient(#000 15%, transparent 20%);
    background-image: radial-gradient(#000 15%, transparent 20%),
    radial-gradient(#000 15%, transparent 20%);
    background-position: 0 0, 3px 3px;
    background-size: 6px 6px;
  }

/* 影絵ドットボタン - sc */
a.shadow-dot-sc {
  border: 2px solid #000;
  border-top: 1px solid #000;
  border-radius: 0 0 .5rem .5rem;
  background-color: #fff;
  background-image: -webkit-radial-gradient(#000 15%, transparent 20%),
  -webkit-radial-gradient(#000 15%, transparent 20%);
  background-image: radial-gradient(#000 15%, transparent 20%),
  radial-gradient(#000 15%, transparent 20%);
  background-position: 0 0, 3px 3px;
  background-size: 6px 6px;
}

/*陰影ストライプにしたボタンとの差分*/
a.shading-stripes {
  border: 2px solid #000;
  border-top: 1px solid #000;
  border-radius: 0 0 .5rem .5rem;
  background: -webkit-repeating-linear-gradient(left, #000, #000 1px,
    transparent 2px, transparent 6px);
  background: repeating-linear-gradient(to right, #000, #000 1px,
    transparent 2px, transparent 6px);
  background-size: 12px 12px;
}

/*陰影ストライプにしたボタンとの差分*/
a.shading-stripes-sc {
  border: 2px solid #000;
  border-top: 1px solid #000;
  border-radius: 0 0 .5rem .5rem;
  background: -webkit-repeating-linear-gradient(left, #000, #000 1px,
    transparent 2px, transparent 6px);
  background: repeating-linear-gradient(to right, #000, #000 1px,
    transparent 2px, transparent 6px);
  background-size: 12px 12px;
}


/* 線 + 立体 */


@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-custom01 {
  margin-bottom: 0.5rem;
  padding: 0;
  border-radius: 0.75rem;
}

a.btn-custom01:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate3d(0, 0.75rem, -1rem);
  transform: translate3d(0, 0.75rem, -1rem);

  border: 2px solid #000;
  border-radius: inherit;
  background: #ccc100;
  -webkit-box-shadow: 0 0.6rem 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.6rem 0 0 rgba(0, 0, 0, 0.2);
}

a.btn-custom01:after {
  font-family: "Font Awesome 5 Free";
  font-size: 2rem;
  font-weight: normal;
  line-height: 1;
  position: absolute;
  top: calc(50% - 1rem);
  left: 1.5rem;
  margin: 0;
  padding: 0;
  content: "\f0e0";
}

.btn-custom01-front {
  position: relative;
  display: block;
  padding: 1.5rem 5rem 1.5rem 5rem;

  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 2px solid #000;
  border-radius: inherit;
  background: #fff100;
}

.fa-position-left {
  position: absolute;
  top: calc(50% - 0.5em);
  left: 1rem;
}

.fa-position-right {
  position: absolute;
  top: calc(50% - 0.5em);
  right: 1rem;
}

a.btn-custom01:hover {
  -webkit-transform: translate(0, 0.25rem);
  transform: translate(0, 0.25rem);
  background: #fff100;
}

a.btn-custom01:hover:before {
  -webkit-transform: translate3d(0, 0.5rem, -1rem);
  transform: translate3d(0, 0.5rem, -1rem);
  -webkit-box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
}

a.btn-custom01:hover:after {
  content: "\f2b6";
}

a.btn-custom01:active {
  -webkit-transform: translate(0rem, 0.75rem);
  transform: translate(0rem, 0.75rem);
}

a.btn-custom01:active:before {
  -webkit-transform: translate3d(0, 0, -1rem);
  transform: translate3d(0, 0, -1rem);
  -webkit-box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
}

a.btn-custom01:active:after {
  content: "\f2b6";
}





/* core */
/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}