/* 下にボーダー */
ex1{
	border-bottom: 1px solid #888;
	padding-bottom: 2px;
}

/* 左にボーダー */
.ex2{
	border-left: 4px solid #888;
	padding: 12px;
}

/* 左と下にボーダー */
.ex3{
	border-left: 4px solid #888;
	border-bottom: 1px solid #888;
	padding: 12px;
}

/* 背景色 */
.ex4{
	background: #ddd;
	padding: 12px;
}

/* 背景色 + 左にボーダー */
.ex5{
	background: #ddd;
	padding: 12px;
	border-left: 4px solid #888;
}

/* 角丸 */
.ex6{
	background: #ddd;
	padding: 12px 20px;
	border-radius: 8px;
}

/* 影 */
.ex7{
	background: #ddd;
	padding: 12px 20px;
	box-shadow : 0 2px 4px rgba(0,0,0,0.3);
}

/* めくれ効果 */
.ex8{
	position: relative;
	background: #ddd;
	padding: 12px 20px;
}
.ex8:before{
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 0;
	border-top: 12px solid #aaa;
	border-right: 12px solid #fff;
	border-bottom: 12px solid #fff;
	border-left: 12px solid #aaa;
}

/* リボン */
.ex9{
	position: relative;
	background: #ddd;
	padding: 12px 20px;
}
.ex9:before,.ex9:after{
	content: "";
	position: absolute;
	bottom: -16px;;
	width: 0;
	height: 0;
	border-top: 8px solid #aaa;
	border-bottom: 8px solid #fff;
}
.ex9:before{
	left: 0;
	border-right: 8px solid #aaa;
	border-left: 8px solid transparent;
}
.ex9:after{
	right: 0;
	border-left: 8px solid #aaa;
	border-right: 8px solid transparent;
}

/* 吹き出し */
.ex10{
	position: relative;
	background: #ddd;
	padding: 12px 20px;
}
.ex10:before{
	content: "";
	position: absolute;
	bottom: -24px;
	left: 2em;
	width: 0;
	height: 0;
	border: 12px solid transparent;
	border-top: 12px solid #ddd;
}

/* ストライプ */
.ex11{
	background: repeating-linear-gradient(-45deg, #ddd, #ddd 5px, #fff 5px, #fff 10px);
	padding: 12px 20px;
}

/* グラデーション */
.ex12{
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
	background: linear-gradient(180deg,rgb(252, 188, 188),rgb(148, 230, 255));
	padding: 12px 20px;
}

/* 一文字目を大きく */
.ex13{
	border-bottom: 1px solid #888;
}
.ex13:first-letter {
	font-size: 1.8em;
}

/* 左右にグラデーションボーダー */
.ex14 {
	display: flex;
	align-items: center;
}
.ex14:before, .ex14:after {
	content: "";
	flex-grow: 1;
	height: 1px;
	display: block;
}
.ex14:before {
	background: linear-gradient(-90deg, #888, transparent);
	margin-right: .4em;
}
.ex14:after {
	background: linear-gradient(90deg, #888, transparent);
	margin-left: .4em;
}

/* ■が2つ */
.ex15{
	position: relative;
	padding: 12px 0 2px 24px;
	border-bottom: 1px solid #888;
}
.ex15:before, .ex15:after {
	content: "";
	position: absolute;
	background: #888;
}
.ex15:before {
	top: 0;
	left: 12px;
	width: 12px;
	height: 12px;
	transform: rotate(50deg);
}
.ex15:after {
	top: 18px;
	left: 4px;
	width: 8px;
	height: 8px;
	transform: rotate(20deg);
}

/* ●2つ */
.ex16{
	position: relative;
	padding: 12px 0 2px 24px;
	border-bottom: 1px solid #888;
}
.ex16:before, .ex16:after {
	content: "";
	position: absolute;
	background: #888;
	border-radius: 100%;
}
.ex16:before {
	top: 0;
	left: 12px;
	width: 12px;
	height: 12px;
}
.ex16:after {
	top: 18px;
	left: 4px;
	width: 8px;
	height: 8px;
}